/* Neutral */
/* Header Gradient */
/* Body Gradient */
/* Setup */
:root {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;
}
@media (min-width: 1800px) {
  :root {
    font-size: 67.5%;
  }
}
@media (max-width: 1400px) {
  :root {
    font-size: 55%;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 50%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Overpass", sans-serif;
}

button {
  color: #ffffff;
  border: 0;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color, background;
}

.button-cta {
  color: #ff525d;
  background: #ffffff;
  margin: 0 1rem;
}
.button-cta:hover {
  color: #ffffff;
  background: #ff7a85;
}

main h1, main h2, main h3, main h4, main h5 {
  color: #1f3f5b;
}

header {
  background: linear-gradient(to right, #ff8f70, #ff3d54);
  border-bottom-left-radius: 15rem;
}
header .bg-wrapper {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15rem;
  background: url("../assets/bg-pattern-intro.svg") 30% 50%;
  padding-top: 6rem;
}
header .bg-wrapper .upper-part {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
header .bg-wrapper .upper-part .logo {
  padding-right: clamp(6rem, 7vw, 10rem);
}
header .bg-wrapper .upper-part .menu {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
header .bg-wrapper .upper-part .menu .navigation > ul {
  list-style-type: none;
  display: flex;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li {
  position: relative;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li > a {
  color: #ffffff;
  opacity: 0.7;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 5rem;
  text-decoration: none;
  transition: opacity 0.3s;
  position: relative;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li > a::after {
  content: "";
  background: url("../assets/icon-arrow-light.svg") center no-repeat;
  margin-left: 0.5rem;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  transition: height 0.3s;
  height: 0;
  width: 100%;
  position: absolute;
  top: 2.7rem;
  left: 0;
  border-radius: 1rem;
  overflow: hidden;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown ul a {
  color: #000a;
  font-size: clamp(16px, 1.5vw, 1.8rem);
  text-decoration: none;
  transition: color 0.2s;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown ul a:hover {
  color: #000000;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover {
  cursor: pointer;
  opacity: 1;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-one {
  height: 13rem;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-two {
  height: 11rem;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-three {
  height: 9rem;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover > a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  opacity: 1;
}
header .bg-wrapper .upper-part .menu .navigation > ul > li:hover > a::after {
  transform: rotate(180deg) translateY(50%);
}
header .bg-wrapper .upper-part .menu .menu-buttons button:nth-child(1) {
  opacity: 0.7;
}
header .bg-wrapper .upper-part .menu .menu-buttons button:nth-child(1):hover {
  opacity: 1;
}
header .bg-wrapper .upper-part .mobile-menu-icon {
  display: none;
  cursor: pointer;
}
@media (max-width: 800px) {
  header .bg-wrapper .upper-part .menu {
    width: min(500px, 90%);
    display: none;
    flex-direction: column;
    align-content: stretch;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    z-index: 1;
    border-radius: 1.6rem;
  }
  header .bg-wrapper .upper-part .menu .navigation {
    width: 100%;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 28rem;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li > a {
    opacity: 1;
    color: #2c2d3f;
    margin: 0;
    font-size: clamp(2rem, 2.5vw, 4rem);
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li > a::after {
    background: url("../assets/icon-arrow-dark.svg") center no-repeat;
    background-size: 100%;
    width: 1.4rem;
    height: 1.4rem;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown {
    width: 90%;
    background: #0002;
    border-radius: 0.6rem;
    z-index: 200;
    position: initial;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown ul {
    align-items: center;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li .menu-dropdown ul li {
    padding: 1rem;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li:hover a {
    text-decoration: none;
    color: #3f4164;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-one {
    height: 24rem;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-two {
    height: 20rem;
  }
  header .bg-wrapper .upper-part .menu .navigation > ul > li:hover .dropdown-three {
    height: 15rem;
  }
  header .bg-wrapper .upper-part .menu .menu-buttons {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #0002;
    padding: 2rem 0;
  }
  header .bg-wrapper .upper-part .menu .menu-buttons button:nth-child(1) {
    opacity: 1;
    color: #2c2d3f;
  }
  header .bg-wrapper .upper-part .menu .menu-buttons button:nth-child(2) {
    margin-top: 2rem;
    background: linear-gradient(to right, #ff8f70, #ff3d54);
    color: #ffffff;
  }
  header .bg-wrapper .upper-part .menu .menu-buttons button {
    font-size: 2rem;
  }
  header .bg-wrapper .upper-part .mobile-menu-icon {
    display: flex;
    align-items: center;
  }
}
header .bg-wrapper .title {
  color: #ffffff;
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  padding: 20rem 3rem;
  font-size: 3rem;
}
header .bg-wrapper .title h5 {
  opacity: 0.7;
  font-weight: 500;
  margin: 3rem 0;
}
header .bg-wrapper .title .title-buttons button {
  font-size: 1.8rem;
}
header .bg-wrapper .title .title-buttons button:nth-child(2) {
  border: 1px solid #ffffff;
}
header .bg-wrapper .title .title-buttons button:nth-child(2):hover {
  background: #ffffff;
  color: #ff525d;
}

.menuActive {
  overflow: hidden;
}
.menuActive header .bg-wrapper .upper-part .menu {
  display: flex;
}

section.future {
  padding: 5rem 0 5rem;
  overflow: hidden;
}
section.future .title h1 {
  font-size: 3.6rem;
  margin: 5rem 0;
  text-align: center;
}
section.future .content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text-one image" "text-two image";
}
section.future .content .paragraph {
  padding: 0 5rem 0 clamp(10rem, 12vw, 15rem);
}
section.future .content .paragraph h3 {
  font-size: 3.2rem;
  margin: 2.4rem 0;
}
section.future .content .paragraph p {
  font-size: 1.8rem;
  color: #4b5862;
  line-height: 3rem;
}
section.future .content .paragraph:first-child {
  grid-area: text-one;
}
section.future .content .paragraph:last-child {
  grid-area: text-two;
}
section.future .content .image {
  grid-area: image;
}
section.future .content .image img {
  height: max(45vw, 60rem);
  transform: translateX(20rem);
  margin-top: clamp(-14rem, -6vw, -5rem);
}
@media (max-width: 1200px) {
  section.future .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.future .content .paragraph {
    padding: 0 5rem 0;
  }
  section.future .content .paragraph:nth-child(1) {
    margin-bottom: 4rem;
  }
  section.future .content .image {
    width: min(800px, 90%);
    order: -1;
    margin: 0 auto;
    padding: 8rem 0 6rem;
  }
  section.future .content .image img {
    width: 100%;
    height: auto;
    transform: none;
  }
}

@keyframes menuout {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -100px;
    opacity: 0;
  }
}
@keyframes menuin {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.animationin {
  animation-name: menuin;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

.animationout {
  animation-name: menuout;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=styles.css.map */
