footer {
  background: $very-dark-black-blue;
  color: $grayish-blue;

  display: flex;
  justify-content: space-evenly;

  border-top-right-radius: 15rem;
  padding: 8rem 0;

  .logo {
    
    img {
      transform: translateY(-50%);
    }
  }

  .part {
    h5 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    ul {

      li {
        margin: 1.2rem 0;
        a {
          color: inherit;
          font-size: 1.4rem;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;

    padding: 4rem 0;

    .logo {
      margin: 0 0 2rem;

      img {
        transform: translateY(0);
      }
    }

    .part {
      margin-bottom: 3rem;

      h5 {
        font-size: 2rem;
      }

      ul li a {
        font-size: 1.8rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}